.flowWrapper {
  flex: 1;
  position: relative;
  height: 100%;
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.25rem;
  color: var(--color-text-secondary);
}

.error {
  flex-direction: column;
  text-align: center;
  color: var(--color-danger);

  & h3 {
    margin: 0 0 0.5rem;
    color: var(--color-danger);
  }

  & p {
    margin: 0;
    font-size: 0.75rem;
    color: var(--color-danger-darker);
  }
}
